.additional-products__header {
  font-family: @oswald-regular;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.additional-products__list {
  list-style: none;
}

.additional-products__title {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-products__cell {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-products__button {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #68b738;
}
