.advantages {
  background-color: white;
}

.advantages__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  color: @black1;
}

.advantages__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @black4;
}
