.advantages {
  background-color: white;
}

.advantages__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.advantages__text {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
