.before-after {
  background-color: #f2f2f2;
}

.before-after__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  color: @black1;
}

.before-after__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @black4;
}

.before-after__list {
  list-style: none;
}

.before-after__price {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 20px;
  color: @black1;
  text-transform: uppercase;
}

.before-after__buttons {
  list-style: none;
}
