.before-after {
  background-color: #f2f2f2;
}

.before-after__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.before-after__text {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.before-after__list {
  list-style: none;
}

.before-after__price {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.before-after__buttons {
  list-style: none;
}
