.before-after {
  background-color: #f2f2f2;
  padding: 30px 20px;
}

.before-after__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black1;
  margin: 0;
  margin-bottom: 30px;
}

.before-after__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @black4;
  margin: 0;
  margin-bottom: 25px;
}

.before-after__list {
  .reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.before-after__image {
  width: 100%;
  height: auto;
}

.before-after__price {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 20px;
  color: @black1;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .before-after {
    padding: 30px;
  }

  .before-after__title {
    font-size: 60px;
    line-height: 60px;
  }

  .before-after__text {
    font-size: 16px;
    line-height: 24px;
  }

  .before-after__price-wrapper {
    display: flex;
  }

  .before-after__item {
    margin-right: 40px;
  }

  .before-after__price {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    width: 192px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .before-after {
    padding: 30px 110px;
    display: flex;
    min-height: 590px;
  }
  .before-after__desktop-column-wrapper {
    width: 50%;
  }
  .before-after__title {
    margin-bottom: 140px;
  }
  .before-after__text {
    margin-bottom: 70px;
    width: 435px;
  }
  .before-after__price-wrapper {
    width: 435px;
    flex-wrap: wrap;
  }
  .before-after__price {
    width: 435px;
    text-align: left;
  }
  .before-after__price-value {
    margin-left: 20px;
  }

}
