.form__text {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}

.form__list {
  list-style: none;
}

.form__label,
.form__input-text,
.form__textarea {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__legend {
  font-family: @oswald-regular;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.form__button {
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #68b738;
}

.form__required-notify {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
