.products {
  .reset-list;
}

@media (min-width: @tablet-width) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products__item {
    margin-top: 90px;
    margin-bottom: 48px;
  }
}
