.program {
  background: #65a93c;
  background-image: url("../../img/index-background-mobile@1x.jpg");
}

.program__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 36px;
  color: white;
}

.program__text {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
}

.program__link {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #68b738;
}
