body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  body {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: @desktop-width;
  }
}

